/*page-footer*/

.page-footer {
  .wrap();
  text-align: center;
}
.page-footer__teg {
  .font-bold();
  margin-bottom: 40px;
}
.social-btn {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 50px;

  svg {
    fill: #fff;
    width: 20px;
    height: 20px;
    margin: 13px;
  }
}

.social-btn a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #81b3d2;
}
.social-btn a:hover {
  /*.btn-hover();*/
}
.social-btn a:active {
  /*.btn-active();*/
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: #000;
    height: 35px;
  }
}
