/* main page-content */

.page-content {
  text-align: center;
}
.page-content__intro {
  img {
    width: 225px;
  }
  position: relative;
  width: 100%;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 240%;
  padding-top: 50px;
  padding-bottom: 66px;
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: -5px;
    width: 325px;
    height: 27px;
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    background-size: 105%;
    background-repeat: no-repeat;
  }

  @media @retina {
    background-image:
                    url('../img/bg-back-mobile@2x.jpg');
  }
}
/* .page-content__intro--inner {
  background-color: @bg-blue;
  background-image: url(../img/bg-intro-triangle-mobile.svg),
                    url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 102%, 130%;
  padding-top: 50px;
  padding-bottom: 65px;

} */


.map {
  iframe {
  width: 100%;
  height: 350px;
  }
  margin-bottom: 40px;
}

@media @tablet-widths {

  .page-content__intro {
    &::before {
    left: 0;
    width: 768px;
    height: 57px;
    background-image: url('../img/bg-intro-triangle-tablet.svg');
  }
    background-image:url('../img/bg-back-tablet@1x.jpg');

    @media @retina {
      background-image:  url('../img/bg-back-tablet@2x.jpg');
    }
  }
  main.page-content {
   /*  display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
  }

  .map {
    order: 9;
    width: 100%;
  }
}
@media @desktop-widths {
   .page-content__intro {
      background-image: url('../img/bg-intro-triangle-desktop.svg'), url('../img/bg-back-desktop@1x.jpg');

    @media @retina {
      background-image: url('../img/bg-intro-triangle-desktop.svg'), url('../img/bg-back-desktop@2x.jpg');
    }
  }

}


.failure-popup,
.success-popup {
  padding-top: 40px;
  padding-bottom: 35px;
  width: 100%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  .btn {
    .btn-font();
  width: 280px;
  height: 65px;
  background-color: @bg-blue;
  line-height: 60px;
  }
}
.success-popup .btn {
  border: 10px solid @bg-grey;
}
