/*Variabels*/
@bg-blue: #81b3d2;
@hr-shadow: #e5e5e5;
@bg-grey: #f2f2f2;
@disabled-grey: #e5e5e5;
@hover-blue: #669ec0;
@active-blue: #5496bd;
@active-font: #94b9d2;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

/*Mixins*/

.font-bold() {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

}
.font-regular() {
  font-family: 'PT Sans Regular', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.font-bold-plus() {
  font-size: 21px;
}
.font-regular-plus() {
  line-height: 21px;
}
.btn-font() {
  font-family: 'PT Sans Bold', 'Arial', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase;
}
.btn-active() {
    color: @active-font;
    background-color: @active-blue;
}
.btn-hover() {
    background-color: @hover-blue;
}
.bg-image() {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@font-face {
  font-weight: normal;
  font-family: 'PT Sans Regular';
  font-style: normal;
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
}
@font-face {
  font-weight: bold;
  font-family: 'PT Sans Bold';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
}
